* {
  box-sizing: border-box;
}


.App {
  text-align: center;
  background: url('./../assets/images/naturehorizontal.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .App {
    background: url('./../assets/images/nature.jpg');
    background-size: cover;
  }   
}

.sunsetSunriseContianer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: calc(100% - 410px);
}

